@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

.bonanza__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.bonanza_numbers {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    grid-gap: 40px;
    list-style: none;
}

.bingo__number {
    padding: 0;
}

.bingo__number__circle {
    font-size: 50px;
}

.bonanza__header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 110px;
    width: 100px;
    text-align: center;
}

/* .bonanza__row__0 .bingo__number__circle--selected {
    background: #e74c3c;
}

.bonanza__row__1 .bingo__number__circle--selected {
    background: #3498db;
}

.bonanza__row__2 .bingo__number__circle--selected {
    background: #f1c40f;
}

.bonanza__row__3 .bingo__number__circle--selected {
    background: #2ecc71;
}

.bonanza__row__4 .bingo__number__circle--selected {
    background: #9b59b6;
}

.bingo__number__circle {
    background: #ecf0f1;
}

.bonanza__row .bingo__number__circle--last-selected {
    background: #2c3e50;
} */

.bonanza__row .bingo__number__circle--selected {
    border: 15px solid #000;
    background: #fff;
    box-sizing: border-box;
    color: #000;
    color: #000;
    box-shadow: none;
    position: relative;
}

.bonanza__row .bingo__number__circle--selected:before {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 4px solid #000;
    content: '';
    border-radius: 100%;
}

.bonanza__row__0 .bingo__number__circle--selected {
    border-color: #e74c3c;
}

.bonanza__row__0 .bingo__number__circle--selected:before {
    border-color: #e74c3c;
}

.bonanza__row__1 .bingo__number__circle--selected {
    border-color: #3498db;
}

.bonanza__row__1 .bingo__number__circle--selected:before {
    border-color: #3498db;
}

.bonanza__row__2 .bingo__number__circle--selected {
    border-color: #f1c40f;
}

.bonanza__row__2 .bingo__number__circle--selected:before {
    border-color: #f1c40f;
}

.bonanza__row__3 .bingo__number__circle--selected {
    border-color: #2ecc71;
}

.bonanza__row__3 .bingo__number__circle--selected:before {
    border-color: #2ecc71;
}

.bonanza__row__4 .bingo__number__circle--selected {
    border-color: #9b59b6;
}

.bonanza__row__4 .bingo__number__circle--selected:before {
    border-color: #9b59b6;
}


.bingo__number__circle {
    background: #ecf0f1;
}

.bonanza__row .bingo__number__circle--last-selected {
    border-color: #2c3e50;
}

.bonanza__row .bingo__number__circle--last-selected:before {
    border-color: #2c3e50;
}
