.bingo__sidebar {
    width: 30%;
    padding: 10px 60px;
}

.bingo__sidebar button.new_game {
    width: auto;
    position: fixed;
    left: 10px;
    top: 10px;
    background: #eee;
}

.new_game svg {
    width: 15px;
}

