.bingo__row {
    width: 20%;
    text-align: center;
    border-left: 1px solid #000;
    padding: 0 10px;
}

.bingo__header {
    font-size: 90px;
    font-weight: 800;
}

.bingo_numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
