.bingo__theme__square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    aspect-ratio: 1/1;
    width: 100%;
    background: #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.bingo__theme__square:last-child, .bingo__theme__square:nth-child(5n) {
    border-right: none;
}

.bingo__theme__square:nth-child(21), .bingo__theme__square:nth-child(22), .bingo__theme__square:nth-child(23), .bingo__theme__square:nth-child(24), .bingo__theme__square:nth-child(25) {
    border-bottom: none;
}

.bingo__theme__square--selected {
    background: #000;
}

.theme__display__header .bingo__theme__square {
    background: #ccc;
}