.bingo__current_ball {
    width: 100%;
    aspect-ratio: 1/1;
    background: #000;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    margin-top: 20px;
}

.bingo__current_ball--disabled {
    background: #ccc;
}

.current_ball__row {
    font-size: 110px;
    font-weight: 800;
}

.current_ball__number {
    font-size: 110px;
    font-weight: 800;
}