.bingo__current_ball {
    width: 100%;
    aspect-ratio: 1/1;
    background: #666;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    margin-top: 40px;
}

.bingo__current_ball--disabled {
    background: #ccc;
}

.current_ball__row {
    font-size: 50px;
    font-weight: normal;
}

.current_ball__number {
    font-size: 70px;
}