.bingo__theme__display {
    margin: 20px 20px 0 20px;
    /* box-shadow: 0 0 0 2px inset #000; */
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #000;
}

.theme__display__squares, .theme__display__header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.bingo__theme__name {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    font-size:30px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}