.bingo__theme__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 40px 0 40px;
    overflow: auto;
    z-index: 9999;
}

.theme__modal__container {
    display: flex;
}

.theme__modal__container .bingo__theme__display__wrapper {
    width: 100%;
}

.theme__modal__patterns {
    margin: 40px;
    font-size: 24px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-template-rows: repeat(5, 0fr);
}

.theme__modal__patterns p {
    cursor: pointer;
}

.theme__modal__countdown {
    padding: 0 20px;
    margin: 30px 0;
}

.theme__modal__countdown label {
    font-weight: bold;
    font-size: 30px;
}

.theme__modal__countdown input {
    width: 100%;
    border: 1px solid #000;
    font-size: 18px;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.theme__modal__countdown button {
    width: 100%;
    margin: 20px 0 0 0;
    background: #000;
    color: #fff;
}

.bingo__theme__modal h1 {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 2px solid #000;
    font-size: 3.2em;
    line-height: 1.1;
}

.theme__modal__sidebar {
    border-right: 2px solid #000;
    width: 30%;
}

.modal__close {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #000;
}

.modal__close svg {
    width: 20px;
    display: block;
}
