.bingo__number {
    width: 50%;
    padding: 5px 6px;
}

.bingo__number__circle {
    background: #ccc;
    width: 100%;
    aspect-ratio : 1 / 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
    opacity: 0.5;
    box-shadow: inset 0 0 1px 1px rgb(0 0 0 / 50%);
}

.bingo__number__circle--selected {
    color: #fff;
    opacity: 1;
    background: #000;
}