.bingo__current_ball {
    width: 100%;
    aspect-ratio: 1/1;
    background: #666;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.current_ball__row {
    font-size: 100px
}

.current_ball__number {
    font-size: 150px;
}